img.principal {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}


@media only screen and (max-width: 768px) {
    img.principal {
        display: none;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    img.principal {
        display: initial;
        margin-bottom: -170px;
    }
}

@media only screen and (min-width: 994px) {
    img.principal {
        display: initial;
        margin-bottom: 0px;
    }
}