img.principal {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}


@media only screen and (max-width: 992px) {
    img.principal {
        display: none;
    }
}

@media only screen and (min-width: 1382px) {
    img.principal {
        display: initial;
    }
}